@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
  --spacing: 1rem;

  --cl-primary: hsl(229, 58%, 50%);
  --cl-primary-raw: 229, 58%, 50%;
  --cl-accent: hsl(0, 0%, 8%);
  --cl-accent-raw: 0, 0%, 8%;
  --cl-text: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  color: var(--cl-text);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
  background-color: var(--cl-accent);
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}
