

.card {
  width: 100%;
  aspect-ratio: 2 / 3;
  border-radius: .125rem;

  background-color: #{hsla(var(--cl-primary-raw), .05)};
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  cursor: pointer;

  &.active {
    transform: scale(1.05);
  }
}
