@use './../../styles/utils' as utils;

.header {
  width: 100%;
  padding: var(--spacing);

  @include utils.flex(
    $gap: var(--spacing),
    $direction: column
  );

  background-color: var(--cl-primary);
}

.header__top {
  @include utils.flex(
    $gap: var(--spacing),
    $align: center,
    $justify: space-between,
    $wrap: wrap
  );

  > .header__top-title {
    font-size: 2rem;
  }
}
