@use './../../../styles/utils' as utils;

.header__genres {
  font-size: 1rem;
  color: #{hsla(var(--cl-text-raw), .5)};

  @include utils.flex(
    $row-gap: calc(var(--spacing) / 2),
    $column-gap: var(--spacing),
    $wrap: wrap
  );

  > li {
    position: relative;
    cursor: pointer;

    > ul {
      padding: calc(var(--spacing) / 2) 0;

      position: absolute;
      top: 125%;
      right: 0;
      background-color: var(--cl-accent);
      z-index: 2;

      > li {
        padding: .25rem var(--spacing);
        white-space: nowrap;

        &:hover {
          background-color: #{hsla(var(--cl-primary-raw), .15)};
        }
      }
    }
  }
}

.header__genres-active {
  color: #{hsla(var(--cl-text-raw), 1)};
}
